.movieDescription {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

// .movieImage {
//   width: 100%;
//   height: 35vw;
//   object-fit: cover;
// }
